[submodule "NFD"]
	path = NFD
	url = git@github.com:stream3715/NFD.git
	branch = ndn-kademlia
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = git@github.com:stream3715/ndn-cxx.git
	branch = ndn-kademlia
